body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
    font-size: 10pt;
    border: 1px solid #cccccc;

}

td {
    padding: 3px;
    height: 25px;
}

th {
    background-color: steelblue;
    color: white;
    height: 30px;
}

.btn-delete {
    border: 1px solid #db5d59;
    background: #db5d59 url("../../images/hapus.png") no-repeat 5px 4px;
    height: 22px;
    padding-left: 15px;
    padding-top: 5px;
}

.btn-edit {
    border: 1px solid #292cdd;
    background: #292cdd url("../../images/edit.png") no-repeat 5px 4px;
    height: 22px;
    padding-left: 15px;
    padding-top: 5px;
}

.search {
    border: 1px solid #cccccc;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    height: 30px;
}

.btn-tambah {
    background: steelblue;
}

.card {
    margin-top: 15px;
}